.register-box{
  display: inline-block;
}
.clear-btn{
  display: inline-block;
}

.add-error-mes{
  color: red;
  text-align: center;
  font-weight: bold;
}
.js-add-error-mes-none{
  display: none;
}

