.container{
  width: 100vw;
  display: flex;
  .task-box{
    background: #dfd;
  }
  .complete-box{
    background: #ddf;
  }
  .lists{
    .list{
      font-size: 1.2rem;
      display: flex;
      justify-content: space-between;
      background: #fff;
      margin: 5px 0;
    }
    button{
      margin: 0 3px;
      font-size: 0.5rem;
    }

  }
}


.box{
  margin: 3vw;
  padding: 10px;
  width: 50%;
}
